*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  overflow: hidden;
}

/*base*/
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}

/*blocks*/
.promo {
  min-height: 100vh;
  background: url("../images/promo/background.jpg") 50%/cover no-repeat;
  padding: 22.6rem 0;
}

.promo__links {
  margin-top: 2.5rem;
}

.promo__link {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.promo__link_active {
  background: #FFA501;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: fixed;
  top: 24rem;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar__line {
  width: 0.2rem;
  height: 7rem;
  background-color: black;
}

.sidebar__text {
  display: block;
  height: 150px;
  width: 60px;
}
.sidebar__text span {
  display: block;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  transform: rotate(-90deg) translate(-30%, -240%);
}

.about {
  padding: 120px 0;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 400px 570px;
  grid-template-rows: minmax(200px, auto) minmax(200px, auto);
  column-gap: 6rem;
}

.about__image {
  grid-row: 1/3;
}

.about__list {
  display: grid;
  column-gap: 5rem;
  row-gap: 2rem;
  grid-template-columns: 260px 260px;
}

.about__list__item {
  display: flex;
  column-gap: 2rem;
}

.skill {
  padding-bottom: 120px;
}

.skill__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skill__wrapper__item {
  margin-left: 115px;
  position: relative;
}
.skill__wrapper__item:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #FFA501;
  position: absolute;
  top: 4px;
  left: -48.5px;
}

.wrapper__list__item {
  display: grid;
  grid-template-rows: 36px minmax(76px, auto);
  grid-template-columns: 36px 275px;
  column-gap: 18px;
  margin-top: 45px;
  position: relative;
}
.wrapper__list__item p {
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  grid-column: 1/3;
}
.wrapper__list__item:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 161.5px;
  background-color: #FFA501;
  position: absolute;
  top: -60px;
  left: -42px;
}

.wrapper__list__circle {
  position: relative;
}
.wrapper__list__circle:before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 1px;
  background-color: #FFA501;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
}

.experience {
  padding-bottom: 120px;
}

.experience__wrapper-list {
  display: grid;
  grid-template-rows: repeat(2, minmax(270px, auto));
  grid-template-columns: repeat(4, 270px);
  gap: 13px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.wrapper-list__item {
  padding: 30px 30px 25px 30px;
  border: 1px solid black;
}
.wrapper-list__item h4 {
  margin-top: 20px;
}
.wrapper-list__item p {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.experience__wrapper-percent-list {
  display: grid;
  grid-template-rows: repeat(2, minmax(70px, auto));
  grid-template-columns: repeat(3, minmax(270px, auto));
  gap: 30px 45px;
}

.percent-list__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.percent {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.percent-list__line {
  height: 14px;
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #E8E4DE;
}
.percent-list__line span {
  display: inline-block;
  /* width: 100%;*/
  height: 100%;
  background-color: #FFA501;
  border-radius: 4px;
}
.percent-list__line .w100 {
  width: 100%;
}
.percent-list__line .w85 {
  width: 85%;
}
.percent-list__line .w90 {
  width: 90%;
}
.percent-list__line .w17 {
  width: 17%;
}
.percent-list__line .w20 {
  width: 20%;
}

.my-works {
  padding-bottom: 60px;
}

.my-works__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 280px);
  margin-top: 60px;
  gap: 5px;
  grid-template-areas: "p1 p2 p3 p4" "p5 p6 p6 p4";
}

#project-1 {
  grid-area: p1;
}

#project-2 {
  grid-area: p2;
}

#project-3 {
  grid-area: p3;
}

#project-4 {
  grid-area: p4;
}

#project-5 {
  grid-area: p5;
}

#project-6 {
  grid-area: p6;
}

.cost-project {
  padding-bottom: 120px;
}

.cost-project__list {
  display: grid;
  grid-template-columns: repeat(2, 366px);
  grid-template-rows: repeat(3, 40px);
  grid-auto-rows: 40px;
  justify-content: space-between;
  gap: 15px 0;
  margin-top: 60px;
  margin-left: 22px;
}

.cost-project__list__item p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
}

.cost-project__list__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cost-project__list__text span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
}

.cost-project__list__title {
  position: relative;
}
.cost-project__list__title:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #FFA501;
  position: absolute;
  left: -22px;
}

.contact {
  padding-bottom: 100px;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 400px 580px;
  grid-template-rows: 100px 500px;
  column-gap: 7rem;
}

.contact__image {
  grid-row: 1/3;
}

.contact__icon-list {
  display: flex;
  column-gap: 25px;
}

.contact__icon-list {
  margin: 10px 0;
}

/*components*/
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

.section-title-center {
  text-align: center;
}

.section-title-left {
  text-align: left;
}

.line {
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: #FFA501;
}
.line_mt25 {
  margin-top: 2.5rem;
}
.line_mb25 {
  margin-bottom: 2.5rem;
}

.title-with-circle {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  z-index: 3;
}
.title-with-circle:before {
  content: "";
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 100%;
  background-color: #FFA501;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.ml {
  margin-left: 10px;
}

.title-with-circle_left:before {
  position: absolute;
  left: -10px;
}

.center:before {
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

p {
  font-size: 1.4rem;
}

.p_500 {
  font-weight: 500;
}

.p_700 {
  font-weight: 700;
}

.header {
  width: 100%;
  padding: 2rem 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__burger span {
  display: inline-block;
  height: 0.3rem;
  width: 3rem;
  margin-bottom: 0.6rem;
  background-color: black;
}
.header__burger span:nth-child(2) {
  width: 3.6rem;
}

.nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 2000;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
}

.nav__inner {
  width: 34.5rem;
  min-height: 100vh;
  padding: 2.5rem 5rem 4rem;
  background-color: #FFA501;
  text-align: end;
  transition: all 0.5s;
  transform: translateX(-130%);
}
.nav__inner svg {
  display: inline;
}

.nav_active {
  transform: translateX(0);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 8.5rem;
}

.nav__list__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__list__item a {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
}

.item__circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid black;
}

.icon-circle {
  display: block;
  width: 100%;
  max-width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFA501;
  position: relative;
}
.icon-circle svg {
  position: absolute;
  top: 15px;
  left: 20px;
}

.rotate {
  transform: rotate(90deg);
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 220px;
  grid-template-rows: 45px 190px;
  gap: 30px 25px;
  margin-top: 30px;
}

.form__input {
  position: relative;
}
.form__input input {
  width: 100%;
  height: 100%;
}

.form__textarea {
  grid-column: 1/3;
  position: relative;
}
.form__textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #000;
}

.form__label {
  padding: 0 5px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 10px;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  padding: 12px 26px;
  background-color: #FFA501;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
